// _footer.scss
// 21 dec 2016

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    padding: 60px 0;
    .footer-nav {
        margin: 20px 0;
        ul {
            list-style: none;
            padding-left: 0;
            li {
                a {
                    padding: 8px;
                    display: block;
                }
                @media (min-width: $sm) {
                    display: inline-block;
                    }
                }
            }
        }
    .social-icons {
        a {
            display: inline-block;
            padding: 10px;
            }
        }
    .copyright-info {
        margin-top: 20px;
        padding-bottom: 50px;
        }
    small {
        color: hsl(0, 0%, 70%);
        }
    .footerlogo-home {
        margin-bottom: 10px;
        }   
    } // footer
